.janela-popup {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  position: fixed;
  z-index: 999;
  top: 195px;
}

.popup__close-button {
  color: rgba(255, 255, 255, 1);
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -35px;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__content {
  max-width: 600px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.popup__form-title {
  width: 330px;
  color: black;
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  text-align: left;
  margin: 34px 64px 50px 36px;
}

.popup__form-title_delete {
  width: 358px;
  margin: 34px auto 0;
  padding: 0;
}

.popup__form-table {
  display: flex;
  flex-direction: column;
}

.popup__label {
  display: none;
}

.popup__input {
  width: 358px;
  height: 27.34px;
  margin: 0 auto 29px;
  border: none;
  border-bottom: 1px solid #b8b8b8;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: black;
}

.popup__input::placeholder {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: #606060;
}

.popup__save-button {
  margin: 0 auto 36px;
  width: 358px;
  height: 50.15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.popup__save-button_delete {
  height: 50px;
  margin: auto;
}

.popup__save-button:hover {
  background-color: #333;
}

.popup__content-image {
  position: relative;
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
}

.popup__image {
  max-width: 816px;
  max-height: 80vh;
}

.popup__paragraph {
  font-family: "Inter", "sans-serif";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.5px;
  text-align: left;
  color: #ffffff;
  margin-top: 10px;
}

.popup__image-button {
  color: rgba(255, 255, 255, 1);
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: relative;
  left: 800px;
}

.popup__image-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__message {
  display: none;
}

.popup__message-error {
  max-width: 358px;
  color: #ff0000;
  font-size: 12px;
  display: block;
  font-family: Inter;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  margin: 5px auto 13px 36px;
}

.popup__input-error {
  margin-bottom: 0;
  border-bottom: 1px solid #ff0000;
}

.popup__button-error {
  color: #b8b8b8;
  background-color: rgb(255, 255, 255);
  border: 1px solid #b8b8b8;
  cursor: not-allowed;
}

@media (max-width: 900px) {
  .popup__image-button {
    left: 617px;
  }

  .popup__content {
    max-width: 500px;
    max-height: 282px;
  }
}

@media (max-width: 800px) {
  .popup__content {
    max-width: 470px;
  }
  .popup__form-title {
    margin-bottom: 25px;
  }
}

@media (max-width: 500px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    top: -50px;
    right: 5px;
  }

  .popup__content {
    max-width: 400px;
  }

  .popup__form-title {
    width: 238px;
    font-size: 18px;
    line-height: 21.78px;
    margin: 25px 22px 0;
  }

  .popup__form-table {
    margin-top: 25px;
  }

  .popup__input {
    width: 238px;
    height: 26px;
  }

  .popup__save-button {
    margin: 0 auto 25px;
    width: 238px;
    height: 46px;
  }
}

@media (max-width: 400px) {
  .popup__content {
    max-width: 320px;
    max-height: 215px;
  }

  .popup__form-title {
    margin: 18px 22px 0;
  }

  .popup__form-table {
    margin-top: 20px;
  }

  .popup__input {
    margin-bottom: 18px;
  }

  .popup__save-button {
    margin: 0 auto 18px;
  }
}

@media (max-width: 320px) {
  .popup {
    top: 300px;
  }

  .popup__close-button {
    width: 26px;
    height: 26px;
  }

  .popup__content {
    max-width: 300px;
    max-height: 210px;
  }

  .popup__save-button {
    height: 40px;
  }
}
